@import url('https://fonts.googleapis.com/css?family=Montserrat:600,900&display=swap');

html,
body {
  height: 100%;
  min-height: 100%;
}
#app {
  height: 100%;
  min-height: 100%;
}
/* Dark mode */
#app-main.darkmode #navi {
  background-color: #202427;
}
div#app-main.darkmode {
  background-image: radial-gradient(#282f36 5%, #282f36 15%, #202427 60%);
  height: 100%;
}
div#app-main.darkmode .pop {
  background-color: #202427;
}
div#app-main.darkmode .right-details {
  background-color: #202427;
}
div#app-main.darkmode div.anton-text.intro-text {
  color: rgb(130, 127, 127);
}
div#app-main.darkmode div.wrapper {
  background-image: radial-gradient(#282f36 5%, #282f36 15%, #202427 60%);
}
/* body#darkmode {
  background-image: radial-gradient(#282f36 5%, #282f36 15%, #202427 60%);
} */

body {
  font-family: 'Montserrat';
  margin: 0px;
  /* background-color: #3b8beb; */
  background-image: radial-gradient(#3b8cee 5%, #3b8beb 15%, #2965ad 60%);
  /* color: white; */
  transition: all 0.4s ease;
}

a {
  text-decoration: none;
}
a:hover {
  color: red;
}
a:visited {
  color: white;
}
label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.single-movie {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
li {
  list-style-type: none;
}
.pop-title {
  width: 400px;
  padding-left: 10px;
}
.pop-header {
  display: flex;
  justify-content: center;
}
.pop-empty {
  width: 150px;
}
.pop-rank {
  padding-right: 320px;
}
.pop-rankStar {
  display: flex;
  align-items: center;
}
table {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.rank-star {
  width: 5%;
  vertical-align: middle;
  padding-bottom: 5px;
  padding-right: 2px;
}

#navi#navi {
  background-color: #2a65ad;
  width: 100%;
  height: 50px;
  line-height: 3;
  position: fixed;
  box-shadow: 0 0 0 0;
}
.nav-left {
  float: left;
}
.nav-right {
  float: right;
}

#nav-center#nav-center {
  width: 30%;
  float: right;
  position: absolute;
  top: 7%;
  left: 50%;
  margin-top: 20px;
  transform: translate(-50%, -50%);
}

.nav-logo {
  font-family: 'Montserrat';
  font-weight: 900;
  color: white;
  letter-spacing: 1px;
  line-height: 15px;
}
.wrapper {
  padding: 20px;
  margin: 0 auto;
}
h1,
h6 {
  font-family: 'Montserrat';
  text-align: center;
  color: white;
}
h1 {
  margin-bottom: 0px;
  margin-top: 100px;
  font-size: 2em;
  padding-top: 6px;
}
h3 {
  color: white;
}
h6 {
  margin-top: 0px;
  font-weight: 600;
  padding: 10px;
}
table {
  color: white;
}
.pop {
  background-color: #378aed;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  border-radius: 15px;
  transition: all 0.4s ease;
}
.material-icons {
  padding-top: 10px;
}
.single-detail {
  display: flex;
  justify-content: center;
  color: white;
}
.right-details {
  width: 500px;
  padding: 10px;
  background-color: rgb(5, 90, 160);
  margin-left: 10px;
  position: relative;
  border-radius: 20px;
  transition: all 0.4s ease;
}

.poster {
  transition: all 0.3s ease;
  z-index: 1;
  border-radius: 10px;
  margin: 10px;
  justify-content: space-around;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.4);
}
.poster:hover {
  transform: scale(1.1);
}
.poster:active {
  transform: scale(0.9);
}

.splash {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  padding-top: 8%;
  overflow: hidden;
}
.splash-left {
  padding-left: 20%;
}
.spidey {
  width: 90%;
  pointer-events: none;
}
.spidey-div {
  text-align: right;
}
.spidey {
  -webkit-animation: slide-in-elliptic-right-bck 0.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both;
  animation: slide-in-elliptic-right-bck 0.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both;
}
@-webkit-keyframes slide-in-elliptic-right-bck {
  0% {
    -webkit-transform: translateX(800px) rotateY(30deg) scale(6.5);
    transform: translateX(800px) rotateY(30deg) scale(6.5);
    -webkit-transform-origin: -100% 50%;
    transform-origin: -100% 50%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
    transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: 600px 50%;
    transform-origin: 600px 50%;
    opacity: 1;
  }
}
@keyframes spidey {
  0% {
    -webkit-transform: translateX(800px) rotateY(30deg) scale(6.5);
    transform: translateX(800px) rotateY(30deg) scale(6.5);
    -webkit-transform-origin: -100% 50%;
    transform-origin: -100% 50%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
    transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: 600px 50%;
    transform-origin: 600px 50%;
    opacity: 1;
  }
}

.anton-text {
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 5em;
  letter-spacing: 0px;
  line-height: 51px;
  height: 62px;
}
.intro-text {
  transition: all 0.4s ease;
  color: white;
}
#black-text.anton-text {
  color: #000000;
}
.example_a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: #ed3330;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}
.example_a:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

hr {
  overflow: visible; /* For IE */
  height: 30px;
  border-style: solid;
  border-color: white;
  border-width: 1px 0 0 0;
  border-radius: 20px;
  width: 50%;
}
hr:before {
  /* Not really supposed to work, but does */
  display: block;
  content: '';
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: white;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

.button_cont {
  padding-top: 25px;
}

#search_input {
  width: 30%;
  display: flex;
  margin: 0 auto;
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  flex-direction: row;
}
.auth-form {
  padding-top: 100px;
}
form {
  display: inline-block;
}
#google-button {
  width: 300px;
  border-radius: 5px;
  margin-left: 15px;
}
.submit-button {
  width: 90px;
}

.logged {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  flex-direction: column;
}
.welcome {
  -webkit-animation: welcome 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s both;
  animation: welcome 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s both;
}
@-webkit-keyframes welcome {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes welcome {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

h4 {
  margin-top: -8px;
}
h4 {
  -webkit-animation: h4 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1.5s both;
  animation: h4 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1.5s both;
}

@-webkit-keyframes h4 {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes h4 {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
#logged-button {
  -webkit-animation: logged-button 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1.5s
    both;
  animation: logged-button 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1.5s both;
}

@-webkit-keyframes logged-button {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes logged-button {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.detail-title.detail-title {
  margin-top: 30px;
}
.recommended {
  display: flex;
}
.also-like {
  position: absolute;
  bottom: 0;
  left: 0;
}
.padding-left {
  padding-left: 10px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  div.splash {
    /* display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%; */
    padding-top: 37%;
    padding-right: 3%;
  }
  .single-detail {
    display: block;
  }
  .right-details {
    width: 89%;
    /* z-index: -1; */
    height: 45em;
  }
  .also-like {
    z-index: 2;
  }
  .recommended {
    flex-wrap: wrap;
  }
  .pop {
    width: 85%;
    transition: all 0.4s ease;
  }
  .rank-star {
    width: 15%;
  }
  #search_input {
    width: 40%;
  }
  .button_cont {
    padding-top: 45px;
    padding-right: 20px;
  }
}

@media only screen and (min-width: 414px) and (max-width: 767px) {
  .spidey {
    visibility: hidden;
  }
  /* .poster {
    visibility: hidden;
  } */
  div.splash {
    padding-top: 0;
  }
}
